* { 
    margin: 0PX;
    padding: 0px;
    box-sizing: border-box;
}
body { 
    background-color: bisque;
}
section { 

    text-align: center;
    margin: 40vh;
}
.channel { 
    width: 300px;
    height: 400px;
    border-radius: 1%;

}
.div-main { 
    display: flex;
    border-radius: 1%;
}
.left-div { 
    width: 300px;
    border-radius: 1%;
    height: 500px;
}
.right-div { 
    background-color: white !important;
    border-radius: 1%;
    width: 300px;
    height: 400px;
}
.p-first { 
    opacity: 0.2;
}
.h1-first { 
    font-size: 35px;
    padding: 10px;
}
.p-second { 
    opacity: 0.5;
    padding-left: 20px;
    padding-right: 25px;
}
.price-div { 
    display: flex;
}
.first-price { 
    font-size: 35px;
    color: green;
    padding: 40px;
    padding-left: 20px !important;
    padding-right: 0px;
}
.second-price { 

    padding: 50px;
    margin-right: 0px;
    list-style: decimal;
}
.submit-button { 
    color: white;
    background-color: rgb(114, 201, 114);
    height: 45px;
    width: 220px;
    border-radius: 15px;
}